@charset "utf-8";

/* Imported Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Core styles */

body{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
}

a{
    color: #ffffff;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    letter-spacing: 0;
    position: relative;
    color: #1f1f1f;
}

h1{ font-size:  1.7em; margin-top: 0;}
h2{ font-size:  1.5em; margin-top: 0;}
h3{ font-size:  1.4em; margin-top: 0;}
h4{ font-size:  1.3em; }
h5{ font-size:  1.2em; }
h6{ font-size:  1.1em; margin: 0;}

ul,ol,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}





/*
 Header and Nav
 */

header{
    padding: 1.2em 0.8em 1em 0.8em;
    background-color: #202020;
}
header img{
    max-width: 10em;
    margin: 0 0 0 1em;  /* TOP RIGHT LEFT BOTTOM*/
}

/* Burger menu icon */
#menu-icon{
    display: block;
    color: #ffffff;
    font-size: 2.5em;
    float: right;
    margin: 0.8em 0.5em 0 0;    /* TOP RIGHT LEFT BOTTOM*/
}

#main-menu{
    width: 100%;
    display: none;
    background-color: #303030;
    position: absolute;
    z-index: 1;
}
#main-menu ul{
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}
#main-menu ul li{
    display: block;
    font-variant: small-caps;
    margin: 0.4em;
    padding: 1em;
    border-radius: 2em;
}
#main-menu a{
    color: #ffffff;
}

#main-menu li:hover{
    background-color: #202020;
    opacity: 0.8;
    border-radius: 1em;
    transition-duration: 0.2s;
    cursor: pointer;
}


/* 
LANDINGAS
*/

#main-heading-cta{
    background-image:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0.87) 100%), url(../img/headerIMG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 1em 0 1em 0;
}

#main-heading-cta h1{
    color: #ffffff;
    max-width: 90%;
    margin: 1em auto 0.5em auto;
    font-size: 3em;
    line-height: 1.4em;
}
#main-heading-cta h2{
    color: #ffffff;
    max-width: 90%;
    margin: 1em auto;
    font-size: 2em;
}
#main-heading-cta p{
    color: #ffffff;
    max-width: 87%;
    margin: 1.2em auto;
    font-variant: small-caps;
    text-justify: distribute;
}
.btn-big{
    background-color: #e75b1e;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 2em;
    display: inline-block;
    max-width: 90%;
    padding: 1em 3em;
    border-radius: 2em;
}

.btn-big:hover{
    background-color: #e44e0d;
    border-radius: 1em;
    transition-duration: 0.3s;
    padding-left: 4em;
    padding-right: 4em;
}
/* 
PRODUKCIJOS INFORMACIJA
*/

.title h2{
    text-align: center;
    padding-top: 2em;
}

.title .line{
    width: 30%;
    height: 0.3em;
    background-color: rgba(0, 0, 0, 0.20);
    margin: 0 auto;
    border-radius: 0.4em;
}

.title p{
    max-width: 90%;
    margin: 2em auto 1em auto;
    text-align: left;
}

.blurb-row{
    display: inline-table;
}

.blurb{
    max-width: 90%;
    text-align: center;
    margin: 1em auto 2em auto;
    padding-top: 1em;
}
.blurb h3{
    margin-top: 1em;
}

.blurb img{
    max-width: 85%;
}

/* 
GOOGLE MAPS
*/
#section-4 .container{
    background-color: #505050;
    
}
#section-4 h2{
    padding-top: 2em;
    color: #ffffff;
}

#section-4 .line{
    background-color: rgba(322, 322, 322, 0.20);
}
.map-row{
    padding-bottom: 1em;
}

.map{
    text-align: center;
    padding: 1em 0 2em 0;
}

#gmap{
    margin-bottom: 1.8em;
    border: 0;    
    width: 95%;
    height: 18em;
}

.btn-small {
    background-color: #e75b1e;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1em  5em;
    border-radius: 2em;
}

.btn-small:hover{
    background-color: #e44e0d;
    border-radius: 1em;
    padding: 1em 7em;
    transition-duration: 0.3s;
}

/*
ES PROJEKTAS
*/

#es-text {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
}

#es-text p{
    line-height: 1.2em;
}

.bold{
    font-weight: bold;
}
.grey{
    color: grey;
}

#es-img {
    text-align: center;
    padding-bottom: 2em;
}

#es-img img{
    max-width: 100%;
}

/*
FOOTERIS
*/

.footer-row{
    background-image:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0.87) 100%), url(../img/headerIMG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding-bottom: 1.6em;
    padding-top: 2.6em;
    margin-left: auto;
    margin-right: auto;
}

footer h3{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

footer p{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: em;
    line-height: 1.2em; 
}

footer ul{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2em;
}

#footer-b{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.2em;
    padding-right: 2.2em;
}

#footer-b h3{
    margin-top: 2em;
}

#footer-c{
    text-align: center;
}
#footer-c h3{
    margin-top: 2em;
    max-width: 100%;
}


/*
COPYRIGHT
*/

#copyright .container{
    background-color: #202020;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    max-width: none;
}

#copyright h6{
    color: #ffffff;
    font-weight: 100;
    font-size: small;
    font-variant: small-caps;
}

@media screen and (min-width: 400px){
    #footer-b h3, #footer-b p{
        max-width: 70%;
    }
}

/* Media Queries */
@media screen and (min-width: 530px){
    /* Landing */
    #main-heading-cta{
        padding: 1.4em 0 1.4em 0;
    }
    #main-heading-cta h1{
        font-size: 3.4em;
        margin-top: 3em;
    }
    #main-heading-cta h2{
        font-size: 2.4em;
    }
    #main-heading-cta p{
        font-size: 1.4em;
        margin-top: 5em;
        margin-bottom: 3em;
    }
    .btn-big{
        font-size: 1.4em;
    }

    /* Product info */
    .title h2{
        font-size: 2.4em;
    }

    .title .line{
        width: 45%;
        height: 0.5em;
        margin: 2em auto;
    }

    .title p{
        font-size: 1.2em;
    }

    .blurb{
        margin: 1.4em auto 2.4em auto;
        padding-top: 1.4em;
    }

    .blurb p{
        max-width: 80%;
        font-size: 1.2em;
        margin-left: auto;
        margin-right: auto;
    }

    /* Google maps */
    #section-4 .line{
        width: 45%;
        height: 0.5em;
        margin: 2em auto;
    }

    #gmap{
        width: 90%;
        height: 20em;
    }

    /* EU project */
    #es-text{
        max-width: 90%;
        padding-top: 4em;
    }

    #es-text h3{
        font-size: 1.8em;
        line-height: 1.2em;
    }

    #es-text p{
        font-size: 1.2em;
    }

    #es-img{
        padding-top: 1em;
    }    

     /* Footer */
     .footer-row{
         padding-left: 1em;
         padding-right: 1em;
     }
     #footer-b, #footer-c{
        display: inline-table;
        max-width: 100%;
    }

    #footer-c{
        float: right;
    }

    #footer-b h3, #footer-b p{
        max-width: 100%;
    }

    @media screen and (min-width: 670px){

    }
}